<div class="b-example-divider"></div>
<div class="conatainer" id="footerContainer">
    <div class="row row-cols-3" id="footerStuff">
        <div class="col" id="footerColumn">
            Nimed
        </div>
        <div class="col" id="footerColumn">
            Authors
        </div>
        <div class="col" id="footerColumn">
            Help
        </div>

    </div>

</div>








</body>

</html>