<nav class="nav">
    <div class="nav-logo">
        <img src="" alt="">
        
    </div>
    <div>
        <ul class="nav-nav">
            <li class="nav-lnk"></li>
            <li class="nav-lnk"></li>
            <li class="nav-lnk"></li>
        </ul>
    </div>
    <div class="nav-btns">
        
    </div>
</nav>