<% layout("layout/boilerplate.ejs") %>
<%- include("../partials/navbarUjumine") %>




<div class="text-center m-4">
    <h1>Ujumise Kavad</h1>
    <div class="row row-cols-4 justify-contnent-center align-middle my-5">
        <div class="col-2"></div>
        <div class="col-4"><div id="üke" ><a href="/ukekavad"  >Üke</a></div></div>
        <div class="col-4"><div id="ujumine" ><a href="/ujumisekavad" >Ujumine</a></div></div>
        <div class="col-2"></div>
    </div>
</div>
<section class="mb-5">
    
    <div class="row row-cols-1 row-cols-md-2 mx-5 p-3 g-3">
        <div class="col">
            <form class="form-control border-add p-4"action="/ujumisekavad" method="POST">
                <div class="row">
                    <label class="m-2 fs-3" for="ni">Lisa kava</label>
                    <div class="col-12 col-lg-6">
                        <input class="my-1 text-dark"type="text" id="ni" name="nimi" placeholder="nimi">
                    </div>
    
                    <div class="col-12 col-lg-6">
                        <input class="my-1"type="number" value=10 placeholder="pingutus (%)" id="percent" name="raskustase" min='10' step="10" max="100">
                    </div>
    
                    <div class="col-12"><button class="btn btn-success my-2"type="submit">Lisa</button></div>
                </div>
            </form>
        </div>

        <div class="border-desc col p-3">
            <div>
                <ol>
                    <li>Loo kava oma nimega</li>
                    <li>Vali harjutusi</li>
                    <li>Jaga teistega ja vaata ka teiste kavasid</li>
                    <li>Keskendu rohkem treeningule</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class=" p-3">
    <div class="row row-cols-md-2 row-cols-xl-3 g-3 justify-content-md-center" style="margin:0px 20px">
        <% for(kava of kavad) { %>
            <div class="col-12 col-md-6 col-lg-4 ">
            <div id="card" class="border">
                <div class="cardtop2">
                    <div id="level2">
                        <span id="number2">100%</span>
                    </div>
                    <div id="head2">
                        <span id="title2">Treening</span>
                    </div>
                </div>
                
                <div class="cardbottom2 ">
                    <div class="harjutused2">
                        <div class="row row-cols-1">
                            <div class="col-12">
                                <div><span>4 * 400</span> <span>KR - Jal</span> <span>(pöördest 6 jalga väljumisel)</span> <span>R'1</span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="cardbuttons2">
                    <a id="lisaHar" href="ukekavad/lisaharjutus/<%=kava._id%>">+</a>
                    <a id="uuenda" href="harjutused/updateK/<%=kava._id%>">Uuenda</a>
                    <a id="kustuta" href="ukekavad/deleteOne/<%=kava._id%>">Kustuta</a>
                </div>
            </div>
        </div>
        <% } %>

        

    </div>

</section>

