<% layout("layout/boilerplate.ejs") %>

<%- include("partials/navbar") %>


<div class="mb-5">
    <h1 class="display-5 text-lg-center navy text-white p-3 pb-4">Start Improving your technique today</h1>
</div>


<%- include("partials/gallery") %> 





