<% layout("layout/boilerplate.ejs") %>
<%- include("partials/navbar") %>

<div>
    <h1 class="display-5 text-lg-center navy text-white p-3 pb-4 mb-0">. . . Ära mõtle. Hakka pihta! . . .</h1>
</div>
<!-- <div class="home-select">
    <div class="select-menu">
        <div class="home-s-alad">Spordialad</div>
        <div class="home-s-trennigruppid">Trennigruppid</div>
    </div>
</div> -->

<%- include('./partials/flash')  %>
<div class="home-home" style="margin-top: 70px;">
    <div id="home-grid">
        <div class="ujuminego">
            <div>Ujumine</div>
            <a href="/ujumiseharj">Vaata harjutusi</a>
            <a href="/ujumisekavad">Vaata kavasid</a>
        </div>
        <div class="ujumisetext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga incidunt praesentium et dicta laboriosam quod repellat molestias aperiam cumque non impedit, harum deleniti? Aliquam, deserunt quidem! Nobis, veniam optio.<hr class="hr-toggle"></div>
        
        <div class="uketext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In necessitatibus corrupti omnis, culpa modi sunt est hic aspernatur quisquam enim tempore dolorem ratione laboriosam atque molestiae ad libero rem quas.</div>
        <div class="ukego">
            <div>Üld Füüsiline</div>
            <a href="/harjutused">Vaata harjutusi</a>
            <a href="/ukekavad">Vaata kavasid</a>
        </div>
        <div class="rattago">
            <div>Rattasõit</div>
            <h3>Pooleli !</h3>
        </div>
        <div class="rattatext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis perferendis eligendi, necessitatibus quis repudiandae magnam ab veniam sapiente excepturi illum itaque deleniti ea, totam, dolore explicabo veritatis aut voluptatum omnis.<hr class="hr-toggle">
        </div>
    </div>
</div>





