<% layout("layout/boilerplateUL.ejs") %>
<%- include('./partials/flash')  %>


<h1 class="loginh1">Logi sisse</h1>



<form class="loginform" action="/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="text" name="password">
    </div>
    <button class="login" type="submit">Logi Sisse</button>
    <a class="tagasi" href="/">Tagasi</a>
</form>