<% layout("layout/boilerplate.ejs") %> 
<%- include("partials/navbar") %> 

<div class="container mt-5" id="aboutpagecontainer">
    <div class="row">
        <div class="col-4" id="webpageDescription">
            <h1>Welcome to MySwimming</h1>
            <p>A webpage designed to boost your swimming developement</p>
        </div>
        <div class="col-8" id="webpageDescriptionText">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugit sed, voluptates cumque laborum vitae repellendus ullam ipsa quaerat id, architecto culpa suscipit! Fugiat magni harum neque facere sapiente quas?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sapiente, eveniet ipsum velit adipisci incidunt natus magni tempora excepturi repellat aliquid quaerat, provident veritatis quo laboriosam pariatur corrupti, quisquam eum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ad illo culpa neque assumenda, ullam inventore ducimus laudantium enim dignissimos optio quibusdam natus, delectus consectetur porro fugit voluptas eligendi sapiente?</p>
        </div>





    </div>
</div>







