<% layout("layout/boilerplate-tg.ejs") %>
<%- include("./partials/navbarTreGrupp") %>
<%- include('./partials/flash')  %>

<div class="polygon1tg">
    <div class="polygon2tg">
        <div class="polygon3tg">
        </div>
    </div>
</div> 




</div>