<% layout("layout/boilerplate.ejs") %>
<%- include("./partials/navbarÜke") %>
<%- include('./partials/flash')  %>



<div id="tg-grid">
    <div id="tg-detailid">
    <h1>TreeningGrupp</h1>
    <ul>
        <li>osalejad</li>
        <li>osalejad</li>
        <li>osalejad</li>
    </ul>
    <h4>treener</h4>
    <h4>ala</h4>
    
    
    
    </div>
    <div id="tg-kuupäevad">
        <div class="tg-datebox">Juuli 4</div>
        <div class="tg-datebox">Juuli 5</div>
        <div class="tg-datebox">Juuli 6</div>
        <div class="tg-datebox">Juuli 7</div>
    </div>
    <div id="tg-treeningud">
        <div class="tg-t-main"></div>
        <div class="tg-t-side"></div>
    </div>
</div>