:root {
    /*   Harjutused    */
    --harj-col1-card:#293241,
    --harj-col2:
    --harj-col3:
    --harj-col4:
    --harj-col5:
    --harj-col6:
    --harj-col7:
    --harj-col8:
    --harj-col9:

}