.filtermenu
{
    display: grid;
    grid-template-columns: 60% 40%;
    background: white;
    padding: 15px;
}




.filtermenu form input[type="text"] {
    max-width: 60%;
}
.filtermenu form .form-check:nth-of-type(1)
{

}
.filtermenu form .form-check:nth-of-type(2)
{
}
.filtermenu button[type="submit"]
{
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 70px;
    background-color: #ff9f1c;
    color: black;
    margin: 5px;

}
.rightside {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 5px;
    justify-items: center;
}
.filtermenu .rightside #v채rvid {
    border: none;
    border-radius: 20px;
    
    width: 50%;
    background-color: #ff9f1c;
}
.filtermenu .rightside #nupp1 {
    border: none;
    border-radius: 20px;
   
    width: 50%;
    background-color: #ff9f1c;

}
.filtermenu .rightside #nupp2 {
    border: none;
    border-radius: 20px;
    
    width: 50%;
    background-color: #ff9f1c;
}
@media all and (max-width:900px){
    .filtermenu .rightside #v채rvid{
        width: 70%;
    }
    .filtermenu .rightside #nupp1{
        width: 70%;
    }
    .filtermenu .rightside #nupp2{
        width: 70%;
    }
}
@media all and (max-width:700px){
    .filtermenu .rightside #v채rvid{
        width: 90%;
    }
    .filtermenu .rightside #nupp1{
        width: 90%;
    }
    .filtermenu .rightside #nupp2{
        width: 90%;
    }
}
@media all and (max-width:500px){

    .filtermenu {
        grid-template-columns: repeat(1,1fr);
    }

    .filtermenu .rightside {
        grid-template-columns: repeat(3,1fr);
        height: 30px;
    }
    .filtermenu .rightside #v채rvid{
        width: 100px;
    }
    .filtermenu .rightside #nupp1{
        width: 100px;
    }
    .filtermenu .rightside #nupp2{
        width: 100px;
    }
}