.polygon1h
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #265373c8;
    clip-path: polygon(93% 53%, 55% 43%, 38% 10%, 0 0, 0 100%, 100% 100%);
    z-index: -10;
}
.polygon2h
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #497588cc;
    clip-path: polygon(80% 67%, 48% 53%, 23% 18%, 0 8%, 0 100%, 93% 100%);
    z-index: -10;
}
.polygon3h
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #152e40b7;
    clip-path: polygon(68% 71%, 41% 60%, 23% 38%, 0 29%, 0 100%, 77% 100%);
    z-index: -10;
}
.polygon1uh
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #00b4d8;
    clip-path: polygon(93% 53%, 55% 43%, 38% 10%, 0 0, 0 100%, 100% 100%);
    z-index: -10;
}
.polygon2uh
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #48cae4;
    clip-path: polygon(80% 67%, 48% 53%, 23% 18%, 0 8%, 0 100%, 93% 100%);
    z-index: -10;
}
.polygon3uh
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #0077b6;
    clip-path: polygon(68% 71%, 41% 60%, 23% 38%, 0 29%, 0 100%, 77% 100%);
    z-index: -10;
}
.polygon1u
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #004d80;
    clip-path: polygon(93% 53%, 55% 43%, 38% 10%, 0 0, 0 100%, 100% 100%);
    z-index: -10;
}
.polygon2u
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #005c99;
    clip-path: polygon(80% 67%, 48% 53%, 23% 18%, 0 8%, 0 100%, 93% 100%);
    z-index: -10;
}
.polygon3u
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #003d66;
    clip-path: polygon(68% 71%, 41% 60%, 23% 38%, 0 29%, 0 100%, 77% 100%);
    z-index: -10;
}

.polygon1
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #c71f37;
    clip-path: polygon(93% 53%, 55% 43%, 38% 10%, 0 0, 0 100%, 100% 100%);
    z-index: -10;
}
.polygon2
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #e01e37;
    clip-path: polygon(80% 67%, 48% 53%, 23% 18%, 0 8%, 0 100%, 93% 100%);
    z-index: -10;
}
.polygon3
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #b21e35;
    clip-path: polygon(68% 71%, 41% 60%, 23% 38%, 0 29%, 0 100%, 77% 100%);
    z-index: -10;
}
.polygon1l
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #c5c3c6;
    clip-path: polygon(93% 53%, 55% 43%, 38% 10%, 0 0, 0 100%, 100% 100%);
    z-index: -1;
}
.polygon2l
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #dcdcdd;
    clip-path: polygon(80% 67%, 48% 53%, 23% 18%, 0 8%, 0 100%, 93% 100%);
    z-index: -1;
}
.polygon3l
{
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100%;
    background-color: #4c5c68;
    clip-path: polygon(68% 71%, 41% 60%, 23% 38%, 0 29%, 0 100%, 77% 100%);
    z-index: -1;
}