#showcard
{
    background-color: #293241;
    height: 90vh;
    width: 90vw;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    padding: 20px;
}

#sc-grid
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(12, 1fr);
}

#sc-grid header {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#sc-grid main {
    grid-row: 2/11;
    overflow-y: auto;
}

#sc-grid footer {
    grid-row: 12;
}

#sc-level {
    grid-column: 1/2;
    text-align: center;
    font-size: 50px;
    color: white;
    margin:auto auto;
    background-color: #353b45;border-radius: 20px;
    padding: 25px;
}

#sc-title {
    grid-column: 3/11;
    font-size: 40px;
    margin:auto 0;
    color: white;
}
#sc-harj {
    padding: 25px;
    color: white;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 20px;
}
#sc-harj li {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: start;
}


#sc-harj li .kordus{
    color: rgb(255, 126, 131);

}
#sc-harj li .ala{
    color: rgb(56, 239, 221);

}
#sc-harj li .harjutus{
    color: rgb(70, 217, 97);

}
#sc-harj li .eraldus{
    color: rgb(222, 173, 58);

}
#sc-harj li .vahendid{
    color: rgb(200, 222, 75);

}
#sc-harj li .ajastus{
    color: rgb(129, 102, 236);

}
