/* --dark-sienna: #250902ff;
--dark-sienna-2: #38040eff;
--rosewood: #640d14ff;
--ou-crimson-red: #800e13ff;
--upsdell-red: #ad2831ff; */



@import url('./colors.css');
@import url('./filtermenu.css');
@import url('./polygonBackgrounds.css');
@import url('./footer.css');
@import url('./harjutused.css');
@import url('./ükecard.css');
@import url('./login.css');
@import url('./UserCollectionpage.css');
@import url('./showcard.css');


body {
    margin: 0;
    padding: 0;
}


input 
{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 3px solid #222e50;
    border-radius: 20px;
}



#navform 
{
    display: grid;
    position: absolute;
    right:2%;
    min-width: 200px;
}
#navform button {
    max-width: 200px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    
}

#navform .In {
    background-color: #198754ff;
}

#navform .Out {
    background-color: rgb(195, 51, 51);
}


#navform .In:hover {
    background-color: rgb(18, 107, 65);
}
#navform .In:active {
    background-color: rgb(33, 180, 111);
}
#navform .Out:hover {
    background-color: rgb(194, 33, 33);
}
#navform .Out:active {
    background-color: rgb(183, 63, 63);
}


@media all and (max-width:992px){
    #navform {
        display: grid;
        position:relative;
        right: 0;
        width: 100%;
    }
    #navform button{
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        max-width: 200px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
        
    }
}


.magnific {
    color: rgb(233, 233, 233);
}



.navy
{
    background-color: #222e50;
}
.navy-all
{
    width: 100vw;
    height: 100vh;
    background-color: #222e50;
}

.greynavy
{
    background-color: #0e3049;
}



.ükenav
{
    background-color: #a11d33;
}
.ujuminenav
{
    background-color: #222e50;
}


#aboutpagecontainer{
    margin-left: 50px;
    margin-right: 10px;
}

#carouselImageContainer {
    border-radius: 100px;

}
/* .carousel-item img {
    height: 30vh;
    width: 60vw;
    min-height: 250px;
} */

#searchbar{
    max-width: 315px;
    width: 100vw;
}
.cardelement {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    border-radius: 10px;
}
.cardimg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardtext {
    height: auto;
    padding: 10px;
}

.border-desc
{
    border: 4px #63c1d4 solid;
    border-radius: 20px;
}
.border-add
{
    border: 4px #2e4770 solid;
    border-radius: 20px;
}
/* ----------- ÜKE & UJUMINE switch buttons ---------------- */
#üke a 
{
    display: block;
    width: 100%;
    max-width: 500px;
    height: 100px;
    background-color: #a11d33;
    text-decoration: none;
    border-radius: 10px;
    color: #eff5fa;
    line-height: 100px;
    font-size: 25px;
    transition: all ease 0.1s 0s;
    float: right;
}

#ujumine a 
{
    display: block;
    width: 100%;
    max-width: 500px;
    height: 100px;
    background-color: #222e50;
    text-decoration: none;
    border-radius: 10px;
    line-height: 100px;
    font-size: 25px;
    color: #eff5fa;
    transition: all ease 0.1s 0s;
    float:left;
}
@media all and (max-width:450px){
    #üke a {
        min-width: 100px;
        font-size: 20px;
    }
    #ujumine a {
        min-width:100px;
        font-size: 20px;
    }
}

#üke a:hover
{
    background-color: #b7102c;
}
#ujumine a:hover 
{
    background-color: #2f4858;
}
#üke a:active
{
    border: solid 3px black;
}
#ujumine a:active 
{
    border: solid 3px black;
}


/* ---------------------------------- */

.cardcolor{
    background-color: #293241;
}
#card2
{
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    height: 100%;
    background: #293241;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardtop2
{
    position: relative;
    left: 0px;
    top: 0px;
    min-height: 15%;
    width: 100%;
    
}

.cardbottom2
{
    position: relative;
    height:60%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;
    overflow-x:hidden;
}

#cardbuttons2
{
    position: relative;
    bottom: 0px;
    height: 15%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cardbuttons2 #lisaHar 
{
    text-decoration: none;
    color: #4af472;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardbuttons2 #lisaHar:hover 
{
    background:#606064;
}
#cardbuttons2 #uuenda 
{
    text-decoration: none;
    color: #FFFFFF;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
}
#cardbuttons2 #uuenda:hover 
{
    background:#606064;
}
#cardbuttons2 #kustuta 
{
    text-decoration: none;
    color: #ee6c4d;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
}
#cardbuttons2 #kustuta:hover 
{
    background:#606064;
}

#level2
{
    
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #98c1d9;
    border-radius: 5px;
}

#head2
{
    float: right;
    position:relative;
    right: 0px;
    top: 0px;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    background: #293241;
    word-wrap: break-word;
    border-radius: 0px 5px 0px 0px;
}

/* Title */

#title2
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #e0fbfc;
    
}
.harjutused2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.harjutused2 hr 
{
    color: #fffffc;
    height: 5px;
}

.harjutused2 .rida {
    margin: 5px;    
}

.harjutused2 .kordus{
    color: rgb(255, 126, 131);
}
.harjutused2 .ala{
    color: rgb(56, 239, 221);
}
.harjutused2 .harjutus{
    color: rgb(70, 217, 97);
}
.harjutused2 .eraldus{
    color: rgb(222, 173, 58);
}
.harjutused2 .vahendid{
    color: rgb(200, 222, 75);
}
.harjutused2 .ajastus{
    color: rgb(129, 102, 236);
}
.harjutused2 .wht {
    color:white;
}
.harjutused2 #kustuta {
    text-decoration: none;
    color: red;
    font-size: 30px;
    text-align: center;

    line-height: 100%;
}










#TÜHJUS
{
    justify-self: center;
    text-align: center;
    font-size: 30px;
}
#number2
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    
    text-align: center;

    color: #000000;
}




input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    background: deepskyblue;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    transition: all ease 0.3s 0s;
}
.laudcheckbox input[type="checkbox"]::after {content: "Laud";}
.punncheckbox input[type="checkbox"]::after {content: "Punn";}
.SLabcheckbox input[type="checkbox"]::after {content: "S.Lab";}
.VLabcheckbox input[type="checkbox"]::after {content: "V.Lab";}
.snorkcheckbox input[type="checkbox"]::after {content: "Snorkel";}
.lestcheckbox input[type="checkbox"]::after {content: "Lestad";}

input[type="checkbox"]:checked
{
    background: #06d6a0;
    color: white;
}
input[type="checkbox"]:hover
{
    background: rgb(0, 133, 178);
}



.hoverthing
{
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    transition: ease all 0.3s 0s;
}
.hoverthing:hover {
    border: rgb(57, 106, 203) solid 4px;
}
.hoverthing:active {
    background-color: white;
}


.popup
{
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.popup form
{
    height: 100%;
    width: 100%;
}

.none
{
    display: none;
}


.deltalihascheckbox input[type="checkbox"]::after {
    content:'deltalihas';
    font-size: 13px;

}
.rinnalihascheckbox input[type="checkbox"]::after {
    content:'rinnalihas';
    font-size: 13px;

}
.triitsepscheckbox input[type="checkbox"]::after {
    content:'triitseps';
    font-size: 13px;

}
.kõhulihascheckbox input[type="checkbox"]::after {
    content:'kõhulihas';
    font-size: 13px;

}
.reie_eeskülgcheckbox input[type="checkbox"]::after {
    content:'reie eeskülg';
    font-size: 13px;

}
.reie_tagakülgcheckbox input[type="checkbox"]::after {
    content:'reie tagakülg';
    font-size: 13px;

}
.säärelihascheckbox input[type="checkbox"]::after {
    content:'säärelihas';
    font-size: 13px;

}
.ülaselgcheckbox input[type="checkbox"]::after {
    content:'ülaselg';
    font-size: 13px;

}
.alaselgcheckbox input[type="checkbox"]::after {
    content:'alaselg';
    font-size: 13px;

}
.tuharalihascheckbox input[type="checkbox"]::after {
    content:'tuharalihas';
    font-size: 13px;

}
.biitsepscheckbox input[type="checkbox"]::after {
    content:'biitseps';
    font-size: 13px;

}





