/* --dark-sienna: #250902ff;
--dark-sienna-2: #38040eff;
--rosewood: #640d14ff;
--ou-crimson-red: #800e13ff;
--upsdell-red: #ad2831ff; */

body {
    margin: 0;
    padding: 0;
}


input 
{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 3px solid #222e50;
    border-radius: 20px;
}


.navy
{
    background-color: #222e50;
}
.navy-all
{
    width: 100vw;
    height: 100vh;
    background-color: #222e50;
}


#harjutused 
{
    height: 300px;
}


#aboutpagecontainer{
    margin-left: 50px;
    margin-right: 10px;
}

#carouselImageContainer {
    border-radius: 100px;

}
/* .carousel-item img {
    height: 30vh;
    width: 60vw;
    min-height: 250px;
} */

#searchbar{
    max-width: 315px;
    width: 100vw;
}
.cardelement {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    border-radius: 10px;
}
.cardimg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardtext {

    height: auto;
    padding: 10px;
}
#footerContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: auto;
}
#footerStuff {
    width: 70%;
    border-top: 1px solid #9e9e9e;
    height: 200px;
}
#footerColumn 
{
    margin-top: 20px;
    justify-content: center;
}

.b-example-divider 
{
    margin-top: 200px;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}


#card
{
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    height: 100%;
    background: #293241;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardtop
{
    position: relative;
    left: 0px;
    top: 0px;
    min-height: 15%;
    width: 100%;
    
}

.cardbottom
{
    position: relative;
    height:60%;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;
    overflow-x:hidden;
}

#cardbuttons 
{
    position: relative;
    bottom: 0px;
    height: 15%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#level
{
    
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #98c1d9;
    border-radius: 5px;
}

#head
{
    float: right;
    position:relative;
    right: 0px;
    top: 0px;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    background: #293241;
    word-wrap: break-word;
    border-radius: 0px 5px 0px 0px;
}

/* Title */

#title
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #e0fbfc;
    
}
.harjutused {
    color: #80ed99;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.harjutused li::before {
    size: 5px;
    color: #80ed99;
    font-weight: bold;
    font-size: 9px;
    display: inline-block; 
    width: 1rem;
    margin-left: -1em;
  }

/* 5 */

#cardbuttons #lisaHar 
{
    text-decoration: none;
    color: #4af472;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardbuttons #lisaHar:hover 
{
    color: #47fb3a;
    background:#606064;
}
#cardbuttons #uuenda 
{
    text-decoration: none;
    color: #FFFFFF;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
}
#cardbuttons #uuenda:hover 
{
    color: #55a630;
    background:#606064;
}
#cardbuttons #kustuta 
{
    text-decoration: none;
    color: #ee6c4d;
    background:#3d3d3e;
    padding: 5px;
    border-radius: 6px;
}
#cardbuttons #kustuta:hover 
{
    color: #e56b6f;
    background:#606064;
}



#number
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    
    text-align: center;

    color: #000000;
}


/* Nimi 1. 2. 3. 4. 5. 6. 7. */

#nimi
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}

.kordusedc
{
    background:#1f7a8c;
    
    
}
#kordused
{
    color: #fffffa;
    background:#1f7a8c;
    border-bottom:solid 2px yellowgreen;
    width: 10px;
    border-radius: 3px;
    padding: 3px;
    margin-left: 8px;
}

.custommargin1 
{
    margin-top: 4px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.border-desc
{
    border: 4px #63c1d4 solid;
    border-radius: 20px;
}
.border-add
{
    border: 4px #2e4770 solid;
    border-radius: 20px;
}

#üke
{
    width: 100%;
    height: 70px;
    background-color: #ff9f1c;
    color: #12263a;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}
#ujumine
{
    width: 100%;
    height: 70px;
    background-color: #2a4494;
    color: #eff5fa;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}


#üke:hover 
{
    background-color: #d16014;
}
#üke:active 
{
    transition: ease 0.1s 0s;
    border: solid 3px white;
}
#üke
{
    transition:ease all 0.3s 0s;
}
#ujumine:hover 
{
    background-color: #2f4858;
}
#ujumine:active 
{
    transition: ease 0.1s 0s;
    border: solid 3px white;
}
#ujumine
{
    transition:ease all 0.3s 0s;
}