/* --dark-sienna: #250902ff;
--dark-sienna-2: #38040eff;
--rosewood: #640d14ff;
--ou-crimson-red: #800e13ff;
--upsdell-red: #ad2831ff; */



@import url('./colors.css');
@import url('./filtermenu.css');
@import url('./polygonBackgrounds.css');
@import url('./footer.css');
@import url('./harjutused.css');
@import url('./ükecard.css');
@import url('./login.css');
@import url('./UserCollectionpage.css');
@import url('./showcard.css');
@import url('./homepage.css');
@import url('./kavadpage.css');
@import url('./universal.css');
@import url('./treening-gruppid.css');


