
/* ----------------BASE---------------- */
#tg-grid {
    width: 100%;
    max-width: 1700px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
    grid-template-rows: repeat(4,1fr);
    row-gap: 10px;
    margin: auto;
}

#tg-detailid {
    grid-column: 1/7;
    grid-row: 1;
    padding: 20px;
}   

#tg-kuupäevad {
    grid-column: 1;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#tg-treeningud {
    grid-column: 2/7;
    grid-row: 2/5;
    display: grid;
    grid-template-areas: 
        "m m m a"
        "m m m a"
        "m m m a"
    ;
    column-gap: 10px;
    row-gap: 10px;
}

/* ----------------------------------- */

.tg-datebox {
    width: 100%;
    height: 40px;
    background: rgb(190, 190, 190);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
}

.tg-t-main{
    grid-area:m;
}
.tg-t-main h2 {
    text-align: center;
}



.tg-t-side{
    grid-area:a;


    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    overflow-y: auto;
    max-height: 800px;
    border-radius: 15px;
    border:solid black 3px;
    padding: 10px;
}


