
input 
{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 3px solid #222e50;
    border-radius: 20px;
}

#button-tagasi {
    background-color: #a2abb5;
    text-decoration: none;
    text-align: center;
    color: #171b22;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    align-self: center;
    border-radius: 10px;
    transition: all ease 0.3s 0s;
}

#button-tagasi:hover {
    background-color: #858b91;
}
#button-tagasi:active {
    transform: scale(0.9);
}

#button-save 
{
    grid-column: 3;
    margin: auto auto;
    background-color: #3d3d3e;
    padding:10px;
    border: none;
    border-radius: 6px;
    transition: all ease 0.3s 0s;
    width: 48px;
    height: 48px;
}
#button-save #lips {
    fill: rgb(224, 196, 36);
}
#button-save:hover {
    background:#4c4c4f;
}
#button-save:hover  #lips{
    fill: gold;
}
#button-save:active {
    transform: scale(0.8);
}

#button-vaata {
    background-color: #3d3d3e;
    padding:10px;
    border: none;
    border-radius: 6px;
    transition: all ease 0.3s 0s;
    width: 48px;
    height: 48px;
}
#button-vaata:hover {
    background:#4c4c4f;
}

#button-vaata:active {
    transform: scale(0.8);
}


#button-lisaHar 
{
    text-decoration: none;
    background:#3d3d3e;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s 0s;
    width: 48px;
    height: 48px;
}
#button-lisaHar svg rect {
    fill: #4af472;
}
#button-lisaHar:hover 
{
    background:#4c4c4f;
}
#button-lisaHar:active {
    transform: scale(0.8);
}
#button-uuenda 
{
    text-decoration: none;
    background:#3d3d3e;
    padding: 10px;
    border-radius: 6px;
    transition: all ease 0.3s 0s;
    width: 48px;
    height: 48px;
}
#button-uuenda svg rect {
    fill: #FFFFFF;
}

#button-uuenda:hover 
{
    background:#4c4c4f;
}
#button-uuenda:active {
    transform: scale(0.8);
}
#button-kustuta 
{
    text-decoration: none;
    background:#3d3d3e;
    padding: 10px;
    border-radius: 6px;
    transition: all ease 0.3s 0s;
    width: 48px;
    height: 48px;
}
#button-kustuta svg rect {
    fill: #ee6c4d;
}

#button-kustuta:hover 
{
    background:#4c4c4f;
}
#button-kustuta:active {
    transform: scale(0.8);
}

.magnific {
    color: rgb(233, 233, 233);
}

@media all and (min-width:992px) {
    .highlightNav {
        background-color: rgb(246, 246, 246);
        padding: 5px;
        color: rgb(39, 39, 39) !important;
        border-radius: 20px;
    }
}






#aboutpagecontainer{
    margin-left: 50px;
    margin-right: 10px;
}

#carouselImageContainer {
    border-radius: 100px;

}
/* .carousel-item img {
    height: 30vh;
    width: 60vw;
    min-height: 250px;
} */


#sidebar-popup {
    position: absolute;
    z-index: 100;
    left:-310px;
    top: 100px;
    margin: 10px;
    height: 1000px;
    width: 300px;
    background-color: rgba(231, 231, 231, 0.868);
    border: solid var(--formborder1) 6px;
    border-radius: 15px;
    transition: all ease 0.3s 0s;
}


#sidebar-tab {
    position: absolute;
    left: 294px;
    top: 45%;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(159, 159, 159, 0.745);
    opacity: 100%;
    width: 30px;
    height: 200px;
    padding: 5px;
}
#sidebar-tab:hover {
    background-color: rgba(115, 115, 115, 0.882);
}

#sidebar-tab svg {
    transition: all ease-in-out 0.6s 0s;
}

.rotate {
    transform: rotate(180deg);
}

.slidebar {
    left: 0!important;
}



#searchbar{
    max-width: 315px;
    width: 100vw;
}
.cardelement {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    border-radius: 10px;
}
.cardimg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardtext {
    height: auto;
    padding: 10px;
}

.border-add
{
    border: 4px #2e4770 solid;
    border-radius: 20px;
}


.cardcolor{
    background-color: #293241;
}


#TÜHJUS
{
    justify-self: center;
    text-align: center;
    font-size: 30px;
    color: aquamarine;
    width: 100%;
}
#number2
{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    
    text-align: center;

    color: #000000;
}




input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    background: deepskyblue;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    transition: all ease 0.3s 0s;
}
.laudcheckbox input[type="checkbox"]::after {content: "Laud";}
.punncheckbox input[type="checkbox"]::after {content: "Punn";}
.SLabcheckbox input[type="checkbox"]::after {content: "S.Lab";}
.VLabcheckbox input[type="checkbox"]::after {content: "V.Lab";}
.snorkcheckbox input[type="checkbox"]::after {content: "Snorkel";}
.lestcheckbox input[type="checkbox"]::after {content: "Lestad";}

input[type="checkbox"]:checked
{
    background: #06d6a0;
    color: white;
}
input[type="checkbox"]:hover
{
    background: rgb(0, 133, 178);
}



.hoverthing
{
    background-color: white;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    transition: ease all 0.3s 0s;
}
.hoverthing:hover {
    border: rgb(57, 106, 203) solid 4px;
}
.hoverthing:active {
    background-color: white;
}


.popup
{
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.popup form
{
    height: 100%;
    width: 100%;
}

.none
{
    display: none;
}


.deltalihascheckbox input[type="checkbox"]::after {
    content:'deltalihas';
    font-size: 13px;

}
.rinnalihascheckbox input[type="checkbox"]::after {
    content:'rinnalihas';
    font-size: 13px;

}
.triitsepscheckbox input[type="checkbox"]::after {
    content:'triitseps';
    font-size: 13px;

}
.kõhulihascheckbox input[type="checkbox"]::after {
    content:'kõhulihas';
    font-size: 13px;

}
.reie_eeskülgcheckbox input[type="checkbox"]::after {
    content:'reie eeskülg';
    font-size: 13px;

}
.reie_tagakülgcheckbox input[type="checkbox"]::after {
    content:'reie tagakülg';
    font-size: 13px;

}
.säärelihascheckbox input[type="checkbox"]::after {
    content:'säärelihas';
    font-size: 13px;

}
.ülaselgcheckbox input[type="checkbox"]::after {
    content:'ülaselg';
    font-size: 13px;

}
.alaselgcheckbox input[type="checkbox"]::after {
    content:'alaselg';
    font-size: 13px;

}
.tuharalihascheckbox input[type="checkbox"]::after {
    content:'tuharalihas';
    font-size: 13px;

}
.biitsepscheckbox input[type="checkbox"]::after {
    content:'biitseps';
    font-size: 13px;

}

.dropdown {
    display: block;
    grid-column: 3;
}
.dropdown-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}
.dropdown-btn svg
{
    display: block;
    width: 20px;
    height:20px;
    transform: rotate(90deg);
}
.dropdown-ct{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 30px;
}

.dropdown:hover .dropdown-ct{
    display: flex;
    z-index: 2;
}




/* UNIVERSAL CARD */

.C-card 
{
  margin:auto;
  background-color: var(--card);
  height:500px;
  width:450px;
  border-radius:10px;
  padding:5px;
  display:flex;
  flex-direction:column;
  
}

.C-head {
  width:100%;
  height:50px;
  background-color:#505050;
  border-radius:5px;
  display:flex;
  margin-bottom:5px;
  text-align:center;
  line-height:50px;
  font-family:sans-serif;
  
}
.pingu {
  width:20%;
  height:100%;
  background-color:#6666FF;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  font-size:30px;
}
.nimi {
  width:70%;
  height:100%;
  background-color:#dddddd;
  overflow-x:auto;
  overflow-y:hidden;
  padding-left:10px;
}
.lisa {
  width:10%;
  height:100%;
  background-color:#FF7700;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
.C-body {
  width:100%;
  height:380px;
  margin-bottom:5px;
}
.sisu {
  background-color:#55cc55;
  padding:5px;
  width:100%;
  height:100%;
  display:flex;
  border-radius:5px;
}
.parem {
  width:50%;
  height:100%;
  background-color:#772222; 
}
.vasak {
  width:50%;
  height:100%;
  background-color:#222277; 
}
.C-bottom {
  width:100%;
  height:50px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  border-radius:5px;
}
.nupp
{
  width:30px;
  height:100%;
  background-color:#ffffff;
  border-radius:5px;
}