.mina-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

#mina-grid-main {
    display: grid;
    grid-template-columns: 3fr 8fr 3fr;
    min-height: 1100px;
    height: 100%;
    width: 100%;
    justify-items: center;
    column-gap: 10px;
}

#mina-left{
    grid-column: 1;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom left, rgb(226, 226, 226), rgb(241, 241, 241));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#mina-right{
    grid-column: 3;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom left, rgb(226, 226, 226), rgb(241, 241, 241));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}   

#middle-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 95%;
    max-height: 1100px;
    margin-top: 2.5%;
    padding: 30px;
    row-gap: 40px;
    column-gap: 40px;
    justify-items: center;
    overflow-y: auto;
}

@media all and (max-width:1800px)
{
    #middle-grid {
        grid-template-columns: repeat(3,1fr);
    }
    #mina-grid-main {
        grid-template-columns: 8fr 4fr;
        grid-template-rows: 1fr 6fr;
    }
    #mina-left {
        grid-column: 2/3;
        grid-row: 1;
    }
    #mina-right {
        grid-column: 2;
        grid-row: 2;
    }
    #middle-grid {
        grid-column: 1;
        grid-row: 2;
    }
}

@media all and (max-width:1550px)
{
    #middle-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:1050px) {
    
    #mina-grid-main {
        grid-template-rows: 2fr 6fr;
    }

    #middle-grid {
        justify-items: center;
        margin: auto;
    }

    #mina-right {
        grid-column: 1/2;
        grid-row: 1;
    }
}


