<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

    <body id="body-swim">
        <div class="body-grid">
                    
            <%- body %>
    
    
            <div class="b-example-divider"></div>
            <div class="conatainer" id="footerContainer">
                <div class="row row-cols-3" id="footerStuff">
                    <div class="col" id="footerColumn">
                        Nimed
                    </div>
                    <div class="col" id="footerColumn">
                        Authors
                    </div>
                    <div class="col" id="footerColumn">
                        Help
                    </div>
                </div>
    
            </div>
        </div>
    </body>
    <script src="/js/JQuery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>