<% layout("layout/boilerplate.ejs") %>
<%- include("../partials/navbar_U_harj") %>
<%- include('../partials/flash')  %>

<div class="polygon1uh">
    <div class="polygon2uh">
        <div class="polygon3uh">
        </div>
    </div>
</div>

<h1 id="harj-heading">Ujumise harjutused</h1>
<div class="harj-switch">
    <a id="ükeharj-btn" href="/harjutused">Üke</a>
    <a id="ujumiseharj-btn" href="/ujumiseharj">Ujumine</a>
</div>

<div class="containerC">
    <div class="row row-cols-1">
        <form class="form-control p-4 text-dark border-add" action="/harjutused" method="POST">
            <div class="row row-cols-2">
                <div class="col-12 col-md-6 my-1 ">
                    <label for="nim">Harjutuse nimi</label>
                    <input class="form-control border-add" type="text" id="nim" name="nimi" placeholder="nimi">
                </div>
                <div class="col-12 col-lg-6 my-1 ">
                    <label for="hoverting">Lihasgruppid</label>
                    <div id="hoverting" class="hoverthing border-add">
    
                    </div>
                    <div style="height: 0; position: relative;">
                        <div class="popup none">
                            <form action="/testpage" method="POST">
                                <div class="row row-cols-2 justify-content-start">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 my-1 "><label for="raskustase">Vali raskustase</label><input class="border-add form-control" type="number" id="raskustase" name="raskustase" min='1' max="5" value="1"></div>
                <div class="col-12 col-md-6  my-1 mt-4"><button class="btn btn-success w-100 fs-2 p-0" type="submit">+</button></div>
            </div>
        </form>
    </div>
</div>